overleaf/
presentations/
data/europe_sub.csv
**/__pycache__
.ipynb_checkpoints
cache
*.ckpt
*.pth
*.jpeg
*.csv
!/code/model_training/context/sample_output/**
!/code/model_training/perception/sample_output/**
!/code/model_training/instance_segmentation/sample_output/**
!/code/model_training/places365/docker/sample_output/**
!/code/download_imgs/sample_output/**
!/code/raw_download/data/worldcities.csv
!/code/raw_download/sample_output/**
!/code/enrichment/sample_data/**
!/code/model_training/places365/**
**/.DS_Store
*.caffemodel
data/TRAIN_TEST
code/model_training/perception/models/**
code/model_training/context/multirun/**
code/model_training/context/.hydra/**
code/model_training/context/wandb/**
